[type="radio"]:not(:checked)+span:before, [type="radio"].with-gap:not(:checked)+span:after {
    border-radius: 50%;
    border: 2px solid #1a237e;
  }

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
    border: 2px solid #e65100;
    background-color: #e65100;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
  }

[type="radio"]:checked+span:before, [type="radio"].with-gap:checked+span:before{
    border-radius: 50%;
    border: 2px solid #1a237e;
  }

.card {
  border-top: none;
  padding: 16px 16px 0 16px;
}

.card .card-action {
  border-top: none;
  
}

.card-action {
  padding: 2px 24px 24px 2px
}

.card .card-title {
  font-weight: 300;
}